{% extends 'WadimCodeTestBundle::layout.html.twig' %}

{% block title %}JSON Feed{% endblock %}

{% block content %}
<h1>JSON Feed</h1>
<div class="list-group">
    {% for item in items %}
        <a href="{{ item.link|escape('html_attr') }}" class="list-group-item">
            <span class="badge">{{ item.dateString }}</span>
            <h4 class="list-group-item-heading">{{ item.title }}</h4>
            <p class="list-group-item-text">{{ item.description }}</p>
            <span class="label label-info">{{ item.category }}</span>
        </a>
    {% endfor %}
</div>
{% endblock %}
