{% extends 'WadimCodeTestBundle::layout.html.twig' %}

{% block title %}Varnish Log{% endblock %}

{% block content %}
<h1>Varnish Log</h1>

<h2>Most visited hosts</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Visits</th>
        </tr>
    </thead>
    <tbody>
        {% for host in aggregates.hosts %}
            <tr>
                <td>{{ host.name }}</td>
                <td>{{ host.visits }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    
<h2>Most downloaded files</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Downloads</th>
        </tr>
    </thead>
    <tbody>
        {% for host in aggregates.files %}
            <tr>
                <td>{{ host.name }}</td>
                <td>{{ host.downloads }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
