{% extends 'WadimCodeTestBundle::layout.html.twig' %}

{% block title %}RSS Feed{% endblock %}

{% block content %}
<h1>RSS Feed</h1>
<div class="list-group">
    {% for item in items %}
        <a href="{{ item.link|escape('html_attr') }}" class="list-group-item">
            <span class="badge">{{ item.dateString }}</span>
            <h4 class="list-group-item-heading">{{ item.title }}</h4>
            <p class="list-group-item-text">{{ item.content }}</p>
        </a>
    {% endfor %}
</div>
{% endblock %}
