{% extends '::base.html.twig' %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Wadim's Code Test</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('log') }}">Varnish Log</a></li>
            <li><a href="{{ path('rss') }}">RSS Feed</a></li>
            <li><a href="{{ path('json') }}">JSON Feed</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="main-content">
      {% block content %}{% endblock %}
    </div>
{% endblock %}
